.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px !important;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    font-size: 30px;
    font-weight: 500;
}

.nav-hr{
    border: none;
    width: 80%;
    height: 3px;
    background: rgb(0, 4, 255) !important;
    border-radius: 10px;
}

.nav-logo img{
    width: 300px;
    height: 100px;
    position: relative;
    left: 20px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 22px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 150px;
    height: 58px;
    outline: none;
    border: 2px solid #0e0ead;
    border-radius: 75px;
    color: #0e0ead;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer ;
}

.nav-login-cart button:hover{
    background: rgb(239, 239, 239);
}

.nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-login-cart img{
    width: 50px;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -57px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}

.profile-icon-cont{
    border: 5px solid #0e0ead;
    ;
    /* padding: 5px; */
    position: relative;
    right: 10px;
    border-radius: 50%;
}
