.whycomp{
    border: 1px solid rgb(203, 200, 200);
    width: 25vw;
    box-shadow: 10px 10px 20px rgb(186, 185, 185);
    height: 35vh;
    border-radius: 10px;
    padding: 0px;
    gap: 20px;
}

.whycomp:hover{
    background: rgb(233, 233, 233);
}

.whycomp .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17vh;;
}

.whycomp .icon img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 10px;
    background: linear-gradient(140deg, #57c5d6,#3939ff);
}

.whycomp .single_service-body{
    padding:30px;
    width: 100%;
}

.whycomp .single_service-body h4{
    color: goldenrod;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

.whycomp .single_service-body p{
    font-size: 20px;
    font-weight: 500;
}

.icon img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}