.topcourse{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;   
    margin-bottom: 80px;
    margin-top: 80px;
    width: 100vw;
}

.topcourse h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.topcourse-hr{
    width:200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.topcourse-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.topcourse-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 80px;
}