.carousel {
    position: relative;
    overflow: hidden;
    width: 52.3vw;
    /* max-width: 1200px; */
    margin: auto;
    /* border: 0.5px solid rgb(157, 138, 138); */
    border-radius: 20px;
    height: 60.2vh;
    position: relative;
    /* right: -10px; */
  }
  
  .carousel-slide-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    flex: 0 0 33%; /* Three slides per view */
    box-sizing: border-box;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .carousel-button {
    position: absolute;
    top: 70%;
    border: none;
    cursor: pointer;
    transform: translateY(-10%);
    width: 200px;
  }
  
  .carousel-button.prev {
    left: 180px;
  }
  .carousel-button.prev img{
    width: 50px;
  }
  
  .carousel-button.next {
    right: 1px;
  }
  .carousel-button.next img{
    width: 50px;
    height: 60px;
  }
  
  .carousel-button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  
  /* New styles for indicators */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-indicator {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  top: 75px;
}

.carousel-indicator.active {
  background-color: #333;
}