.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative; /* Added to enable absolute positioning of the icon */
}

.searchbar input {
    border: 1.5px solid black;
    width: 35%;
    height: 70px;
    border-radius: 35px;
    padding: 20px 90px 20px 20px; /* Adjusted padding-right to leave space for the icon */
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: black;
    box-sizing: border-box; /* Ensure padding is included in the element's total width/height */
    box-shadow: 2px 2px 5px 1px #0e0ead;
}

.searchbar img {
    width: 50px;
    position: absolute;
    right: calc(32.5% + 10px); /* Adjusted positioning based on input width */
    top: 50%;
    transform: translateY(-53%);
    cursor: pointer;
}
