.courses{
    display: flex;
    flex-direction: column;
}

.courses-coursecard{
    border: 2px solid black;
}

.courses-hr{
    width:200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    position: relative;
    right: -800px;
    margin-bottom: 40px;
}